@model Woo.Models.Warehouse

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Warehouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WareHouseId" />
            <div class="form-group">
                <label asp-for="WarehouseNum" class="control-label"></label>
                <input asp-for="WarehouseNum" class="form-control" />
                <span asp-validation-for="WarehouseNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EName" class="control-label"></label>
                <input asp-for="EName" class="form-control" />
                <span asp-validation-for="EName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AName" class="control-label"></label>
                <input asp-for="AName" class="form-control" />
                <span asp-validation-for="AName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerId" class="control-label"></label>
                <select asp-for="SellerId" class="form-control"
                        asp-items="@(new SelectList(@ViewBag.sellerlist,"SellerId", "EName"))">
                </select>
                <span asp-validation-for="SellerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataComment" class="control-label"></label>
                <input asp-for="DataComment" class="form-control" />
                <span asp-validation-for="DataComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info1" class="control-label"></label>
                <input asp-for="Info1" class="form-control" />
                <span asp-validation-for="Info1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info2" class="control-label"></label>
                <input asp-for="Info2" class="form-control" />
                <span asp-validation-for="Info2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info3" class="control-label"></label>
                <input asp-for="Info3" class="form-control" />
                <span asp-validation-for="Info3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info4" class="control-label"></label>
                <input asp-for="Info4" class="form-control" />
                <span asp-validation-for="Info4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info5" class="control-label"></label>
                <input asp-for="Info5" class="form-control" />
                <span asp-validation-for="Info5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceId" class="control-label"></label>
                <input asp-for="SourceId" class="form-control" />
                <span asp-validation-for="SourceId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="GrantBy" class="control-label"></label>
                <input asp-for="GrantBy" class="form-control" />
                <span asp-validation-for="GrantBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrantFromDate" class="control-label"></label>
                <input asp-for="GrantFromDate" class="form-control" />
                <span asp-validation-for="GrantFromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrantToDate" class="control-label"></label>
                <input asp-for="GrantToDate" class="form-control" />
                <span asp-validation-for="GrantToDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrantComment" class="control-label"></label>
                <input asp-for="GrantComment" class="form-control" />
                <span asp-validation-for="GrantComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedID" class="control-label"></label>
                <input asp-for="CreatedID" class="form-control" />
                <span asp-validation-for="CreatedID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatingDate" class="control-label"></label>
                <input asp-for="UpdatingDate" class="form-control" />
                <span asp-validation-for="UpdatingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedID" class="control-label"></label>
                <input asp-for="UpdatedID" class="form-control" />
                <span asp-validation-for="UpdatedID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SysComment" class="control-label"></label>
                <input asp-for="SysComment" class="form-control" />
                <span asp-validation-for="SysComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

