@model Woo.Models.Param

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Param</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParamId" />
            @*<div class="form-group">
            <label asp-for="Param1" class="control-label"></label>
            <select name="Param1" id="Param1" va>
                <option value="En">English</option>
                <option value="Ar">Arabic</option>
            </select>
            <span asp-validation-for="Param1" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Param1" class="control-label"></label>
                <select asp-for="Param1" asp-items="@ViewBag.Langs"> </select>
                <span asp-validation-for="Param1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a asp-controller="Warehouses" asp-action="Index" asp-route-id="100">Set Location</a>
            </div>

            @*<div class="form-group">
            <label asp-for="Param2" class="control-label"></label>
            <input asp-for="Param2" class="form-control" />
            <span asp-validation-for="Param2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Param3" class="control-label"></label>
            <input asp-for="Param3" class="form-control" />
            <span asp-validation-for="Param3" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Param4" class="control-label"></label>
            <input asp-for="Param4" class="form-control" />
            <span asp-validation-for="Param4" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Param5" class="control-label"></label>
            <input asp-for="Param5" class="form-control" />
            <span asp-validation-for="Param5" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Param6" class="control-label"></label>
            <input asp-for="Param6" class="form-control" />
            <span asp-validation-for="Param6" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Param7" class="control-label"></label>
            <input asp-for="Param7" class="form-control" />
            <span asp-validation-for="Param7" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Param8" class="control-label"></label>
            <input asp-for="Param8" class="form-control" />
            <span asp-validation-for="Param8" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Param9" class="control-label"></label>
            <input asp-for="Param9" class="form-control" />
            <span asp-validation-for="Param9" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Param10" class="control-label"></label>
            <input asp-for="Param10" class="form-control" />
            <span asp-validation-for="Param10" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Param11" class="control-label"></label>
            <input asp-for="Param11" class="form-control" />
            <span asp-validation-for="Param11" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Param12" class="control-label"></label>
            <input asp-for="Param12" class="form-control" />
            <span asp-validation-for="Param12" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Param13" class="control-label"></label>
            <input asp-for="Param13" class="form-control" />
            <span asp-validation-for="Param13" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Param14" class="control-label"></label>
            <input asp-for="Param14" class="form-control" />
            <span asp-validation-for="Param14" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Param15" class="control-label"></label>
            <input asp-for="Param15" class="form-control" />
            <span asp-validation-for="Param15" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>

