@model Woo.Models.ApplicationUser
@{
    ViewData["Title"] = "Edit User";
}
<p class="h2 text-center font-weight-bold pt-lg-5">@ViewData["Title"]</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="EName" class="control-label"></label>
                <input asp-for="EName" class="form-control" />
                <span asp-validation-for="EName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AName" class="control-label"></label>
                <input asp-for="AName" class="form-control" />
                <span asp-validation-for="AName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerId" class="control-label"></label>
                <select asp-for="SellerId" class="form-control"
                        asp-items="@(new SelectList(@ViewBag.sellerlist,"ID", "EName"))">
                </select>
                <span asp-validation-for="SellerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataComment" class="control-label"></label>
                <input asp-for="DataComment" class="form-control" />
                <span asp-validation-for="DataComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
