@model Woo.Controllers.HomeController
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Woo.Resources

@inject SignInManager<ApplicationUser> SignInManager
@*@inject IViewLocalizer _localizer2rr*@
@inject IStringLocalizer<SharedResources> SharedLocalizerrr
@inject IHtmlLocalizer<SharedResources> SharedHtmlLocalizerviewrr



@{
    ViewData["Title"] = "Woo Home";
}


<section class="page-section portfolio" id="portfolio">
    <div class="container">

        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">

        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">


        <div class="col-md-6 col-lg-4 mb-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="Invoices" asp-action="Index" asp-route-data="true" >
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/assets/img/account.png" alt="Sellers" />
                </div>
            </a>
        </div>


        <div class="col-md-6 col-lg-4 mb-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="Invoices" asp-action="Index" asp-route-data="false">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/assets/img/user.png" alt="Sellers" />
                </div>
            </a>
        </div>


        </div>  <!-- Row End-->
    </div>
</section>
